#header {width:100%; height: 160px; background-color: rgb(16, 25, 58); color: white; font-family: 'Noto Sans', 'Lilita One', 'Roboto', sans-serif; position: fixed; margin-top: -35px; margin-left: -8px; z-index: 2;}
#contact {align-items: flex-end; height: 100px; width: 100px; margin-left: 80%; position: relative; top:165px; text-decoration: none;}
.ns {font-family: 'Noto Sans', 'Lilita One', 'Roboto', sans-serif;}
table {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #fff!important;
}
table th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
.tab {
    padding-top: 250px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -250px;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  .tab button:hover {background-color: #ddd;}
  .tab button.active {background-color: #ccc;}
  .tabcontent {display: none; padding: 6px 12px; border: 1px solid #ccc; border-top: none;}
  .tabcontent {animation: fadeEffect 1s;}
  @keyframes fadeEffect {from {opacity: 0;} to {opacity: 1;}}